.super
{
    font-size: 40px; 
   
}
#ddd
{
    position:relative;
    bottom:15px;
    color:sky blue;
}



@media screen and (max-width:676px)
{
    .super
{
    font-size: 40px; 
    padding-left: 20px;
}
}
